* {
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: monospace;

}

body {
  min-height: 100vh;
}


html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  font-size: 16px;
}

section {
  margin: 2rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  place-items: center;
  overflow-x: hidden;
}

label {
  display: block;
}

span {
  position: relative;
  font-size: 1.5rem;
}


button {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border: 1px solid black;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

button:hover {
  background-color: transparent;
  color: black;
}

input[type="color"] {
  background-color: transparent;
  cursor: pointer;
}

.gridCol {
  height: 1rem;
  width: 1rem;
  border: 1px solid #ddd;
}

.gridRow {
  display: flex;
}